apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mlops-student-pass
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/YOUR_GH_USER/mlops-student-pass.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: mlops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
